/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    font-size: 16px;
    width: 100%;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  
  img {
    max-height: 100%;
    max-width: 100%;
  }
  
  ul, ol {
    list-style-type: none;
  }
  
  input, select, textarea {
    background: transparent;
    border: none;
    outline: none;
  }
  table, th, td {
    border: 1px solid #FF7F00;
    border-collapse: collapse;
    font-size: 17px;
  
  }
  table, td{
    padding: 8px;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  .t01-td-capnhaAndXoa{
    width: 150px;
  }
  .t01-td-chitietsanpham{
    width: 150px;
  }
  /* ----------------------- */

  .Header{
    width: 100%;
    height: 60px;
    background:#eee;
  }
  .HeaderMenu{
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 0 15px;
  }
  .HeaderMenu-items{
    padding: 0 15px;
  }

  /* main */
  .Main{
      display: flex;
      flex-flow: column wrap;
  }

  /*Main-loaisanpham  */
  .Main-loaisanpham{
      display: flex;
      margin: 35px
     
  }
.Main-loaisanphamForm{
  width: 45%;
  height: auto;
}

.Main-loaisanpham-contentleft-formthem{
    display: flex;
    padding: 5px;
    flex-flow: column;
 }

.Main-loaisanpham-contentleft-formthem > input{
    border: 1px solid #ff7fff;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    font-size: 20px;
    
}
.Main-loaisanpham-contentleft-formthem input:hover{
  background: #dddbdbd5;
  font-weight: 20px;
  color: coral;
  transition: all .888888888888s;
}

.Main-loaisanpham-contentleft-submit{
    display: flex;
    justify-content: center;
  
}

.Main-loaisanpham-contentleft-submit > input{
    border: 1px solid #eee;
    width: 100px;
    cursor: pointer;
    height: 20px;
    background: #FF7435;
    border-radius: 15px;
}
.Main-loaisanpham-contentleft-submit input:hover{
  background: orange;
  transition: all .888888888888s;
}

.Main-loaisanpham-Showloaisanpham{
    width: 100%;
}

/* san pham */

.Main-loaisanpham-ShowChitiet{
  display: flex ;
}

/*show chi tiet hinh anh*/
.Main-loaisanpham-ShowChitiet-hinhanh{
  display: flex;
  width: 100%;
  border:none;
  flex-flow: column;
  justify-content: space-between;
}

.Main-loaisanpham-ShowChitiet-hinhanh_themanh{
  display: flex;
  justify-content: center;
}

/* styel nut raido*/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}